*{
    margin: 0px;
    padding: 0px;
    background-size: cover; 
    background-repeat: no-repeat;

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 45%;
    padding-top: 5px;
    border-radius: 85px;
}
.navbar{
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 0;
      cursor: pointer;
}
.nav-list{
    
    width: 70%;
    display: flex;
    align-items: center;
    
}
.nav-list li{
    list-style: none;
    padding: 24px 30px;

     
}
.nav-list li a{
    color: black;
    text-decoration: none;
    }
.nav-list li a:hover{
    color: rgb(202, 134, 134);
}
.nav-list li a:active{
    color: rgb(202, 134, 134);
}
.rightNav{
    
    text-align: right;
    width: 30%;
    padding: 0 23px;
    
    }




.background{
    background: #e2e8eb9e;
}
.backgrounds{
    background-image: url(https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
.box-main{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: auto;
    max-width: 50%;
}
.firstSection{
    height: 108vh;
}
.firstHalf{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.text-big{
    font-size: 30px;
}
.text-small{
    font-size: 20px
}
.btn{
    padding: 8px 20px;
    margin: 7px 0px;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;

}
.btn:hover{
    font-size: 20px;
    margin:auto;
    color:rgb(243, 212, 205);
    background:rgb(29, 28, 26);
    box-shadow: 0 0 10px #e498c4, 0 0 40px #e498c4, 0 0 80px #e498c4 ;
    transition-delay: 0.4s;
    
}

.secRight p{
    
     width: 550px;
    margin: 0 auto;
    text-align: center;
    background-color:#c9d8e2;
    padding: 30px 0;
    margin-top: -30px;
    z-index: 9999;
    position: relative;
    margin-bottom: 35px;
    border-radius: 15px;
}
#p1{
    font-size: 25px;
}
#p2{
    font-size: 19px;
} 
.thumbnail{
display: flex;
box-sizing: border-box;
}

#img1{
    border: 2px solid white;
    border-radius: 18px;
    margin: 13px 9px;
    padding: 3px;
    padding-top: 10px;
 width:500px;
 height: 600px;


}
#img2{
    border: 2px solid white;
    border-radius: 18px;
    margin: 13px 9px;
    padding: 3px;
    padding-top: 10px;
    width: 420px;
    height: 600px;
    
}
#img3{
    border: 2px solid white;
    border-radius: 18px;
    margin: 13px 9px;
    padding: 3px;
    padding-top: 10px;
    width: 500px;
    height: 600px;
}
#img1:hover,#img2:hover, #img3:hover{

    transform: translateY(-10px);   
}
.service-list{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.service-list li{
    list-style: none;
    padding: 24px 140px;

     
}
.service-list li a{
    color: black;
    font-size: 70px;
    text-decoration: none;

}
.container{
    width: 600px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color:#c9d8e2;
    padding: 30px 0;
    z-index: 9999;
    position: relative;
    margin-bottom: 35px;
    justify-content: center;
    border: 4px solid #d6f0e7;
    border-radius: 15px;
}
#name, #address, #contact, #capacity{
    width: 300px; 
    padding: 0px 5px;

}
.btn1, .btn2, .btn3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px 24px;
    border: 2px solid #d6f0e7;
    border-radius: 20px;
    cursor: pointer;
}
.btn1:hover, .btn2:hover, .btn3:hover{
    text-decoration: underline;
    background-color:  rgb(209 203 216 / 56%);
}


.modal {
    margin: auto;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    padding-top: 110px;
    box-shadow: 0px 0px 10px 0px #6d3939
  }
  
  
  .modal-content {
    background-color: #e0e2e8;
    margin: 13px auto; 
    border: 1px solid #888;
    width: 570px; 
    height: 31vh; 
    padding: 65px;
}
.text-footer{
    width: 100%;
    position: absolute;
    background-color: rgb(201 216 226);
    text-align: center;
    justify-content: center;
    padding: 27px;
}
.section
{
    width: 100%;
    min-height: 100vh;
    background-color:pink ;
}
.container-cul
{
    
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color:#c9d8e2;
    padding: 30px 0;
    z-index: 9999;
    position: relative;
    margin-bottom: 35px;
    justify-content: center;
    border: 4px solid #d6f0e7;
    border-radius: 15px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
}
.content-section
{
    float: left;
    width: 55%


}
.content-section .title
{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: 5d5d5d;

}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;

}
.content-section .content .button {
    margin-top: 30px;

}

.content-section .content .button a{
    background: rgb(0, 0, 0);
    padding: 12px 40px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1.5;
    border-radius: 10px;
    color: rgb(240, 240, 240);

}
.content-section .content .button a:hover{
    background-color:rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
}
.card
{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 25px;
    cursor: pointer;
    margin:10px 15px;
    background-image: url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFydHklMjBoYWxsc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;


}
.card1
{
    background-image: url(https://images.unsplash.com/photo-1508737804141-4c3b688e2546?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGVzc2VydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);

}
.card2
{
    background-image: url(https://images.unsplash.com/photo-1601050690597-df0568f70950?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aW5kaWFuJTIwZm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);

}
.card1-dec
{
    background-image: url(https://images.unsplash.com/photo-1530023367847-a683933f4172?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRlY29yYXRpb24lMjBwYXJ0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);

}
.card2-dec
{
    background-image: url(https://images.unsplash.com/photo-1595037935521-15ce2282a03e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGZsb3dlciUyMGRlY29yJTIwcGFydHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);

}


.card:hover
{
    transform: translateY(-10px);

} 
.card1-ven
{
    background-image: url(https://images.unsplash.com/photo-1611143189070-3fd7d460bd28?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFsbHJvb218ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);

}
.card2-ven
{
    background-image: url(https://images.unsplash.com/photo-1572085313466-6710de8d7ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FyZGVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);

}
.bg {
    background: url(../assets/bed.jpg) no-repeat;
    width: auto;
    height: 100vh;
    background-size: 100%;
}

.form-container {
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;

}
.container-info{
    width: 650px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color:#c9d8e2;
    padding: 4px 0;
    z-index: 9999;
    position: relative;
    margin-bottom: 35px;
    justify-content: center;
    border: 4px solid #d6f0e7;
    border-radius: 15px;   
}
.info{
    text-decoration: none;
    display: flex;
    list-style: none;
    padding: 9px;
}
