.bag {
    background: url('https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    width: auto;
    height: 100vh;
}

.form-container {
    position: absolute;
    top: 20vh;
    background: #fff;
    padding: 60px;
    margin: 0 0%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #6d3939;
}
    
